{% extends "::base.html.twig" %}

{% block title "Bienvenido " ~ app.user.username %}

{% block stylesheets %}
  {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/hellodog/dist/css/footer-sticky.css')}}">
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/hellodog/dist/js/key_controller.js') }}"></script>
{% endblock %}

{% block body %}
<div ng-app="keys" ng-controller="key">
    {% embed 'HelloDogBundle:Layout:navbar.html.twig' %}
      {% block navbar %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}

    <div class="container">
      {% embed 'HelloDogBundle:Layout:alert.html.twig' %}
        {% block alert %}
          {{ parent() }}
        {% endblock %}
      {% endembed %}

      <h2 class="page-header">
        Generar Códigos
      </h2>

      <form action="{{ path('generate_key') }}" method="POST">
        <div class="form-group">
          <label>Nº Códigos</label>
          <input type="number" class="form-control" name="cantidad" min="0" max="1000000">
        </div>

        <button type="submit" class="btn btn-dark">Generar Códigos</button>
      </form>
    
      <hr>
      
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr class="active">
              <th>#</th>
              <th>Fecha</th>
              <th>Cantidad</th>
              <th>Códigos</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for value in keys %}
            <tr>
              <th><span class="badge">{{loop.index}}</th>
              <th><span class="label label-warning">{{value.fecha|date('d/m/Y')}}</span></th>
              <th><span class="label label-danger">{{value.keys|length}}</span></th>
              
              <th>
                {% for item in value.keys %}
                  {% if item.active == 1 %}
                  &emsp;<small class="text-danger">{{item.clave}}</small>&emsp;
                  {% else %}
                  &emsp;<small>{{item.clave}}</small>&emsp;
                  {% endif %}
                {% endfor %}
              </th>
              <th>
                {% if loop.index != 1 %}
                <a href="" title="Eliminar" data-toggle="modal" data-target="#delete"><i class="glyphicon glyphicon-trash text-danger" ng-click="delete('{{loop.index -1}}','{{value.fecha|date('d/m/Y')}}')"></i></a>
                {% endif %}
              </th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% embed 'HelloDogBundle:Layout:footer.html.twig' %}
      {% block footer %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}
  

    <!-- Modal -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Eliminar Códigos</h4>
          </div>
          <div class="modal-body">
            <h5 class="text-center">¿Seguro que desea eliminar los códigos del <strong>{[{ name }]}</strong>?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cerrar</button>
            <button type="button" class="btn btn-dark" ng-click="save()"><i class="glyphicon glyphicon-trash"></i>&nbsp;Eliminar</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}