{% extends "::base.html.twig" %}

{% block title "Cuenta" %}

{% block stylesheets %}
	{{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/hellodog/dist/css/images.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/hellodog/dist/css/footer-sticky.css')}}">
{% endblock %}

{% block body %}
    {% embed 'HelloDogBundle:Layout:navbar.html.twig' %}
      {% block navbar %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}

	<div class="secured">
	    <div class="container">

		    {% embed 'HelloDogBundle:Layout:alert.html.twig' %}
		      {% block alert %}
		        {{ parent() }}
		      {% endblock %}
		    {% endembed %}

	    	<h3 class="page-header"><i class="glyphicon glyphicon-cog"></i>&nbsp;Cuenta</h3>
		    <form action="{{ path('edit_account') }}" method="POST">
		        <div class="form-group">
		          	<label>Nombre</label>
		          	<input type="text" class="form-control" name="username" placeholder="Username" value="{{dataU.username}}">
		        </div>

		        <div class="form-group">
		          	<label>Email</label>
		          	<input type="email" class="form-control" name="email" placeholder="Email" value="{{dataU.email}}">
		        </div>
		        
		        <div class="modal-footer">
		        	<a href="{{ path('shop_buy') }}" type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Volver</a>

		          	<button type="submit" class="btn btn-dark"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Guardar</button>
		        </div>
		    </form>
	  	</div>
	</div>

	{% embed 'HelloDogBundle:Layout:footer.html.twig' %}
	  {% block footer %}
	    {{ parent() }}
	  {% endblock %}
	{% endembed %}

{% endblock %}