{% extends "::base.html.twig" %}

{% block title "Contraseña" %}

{% block javascripts %}
  {{ parent() }}
    <script src="{{ asset('bundles/hellodog/dist/js/validate_controller.js') }}"></script>
{% endblock %}

{% block body %}
    {% embed 'HelloDogBundle:Layout:navbar.html.twig' %}
      {% block navbar %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}

    
    <div class="container" ng-app="validate" ng-controller="securedPasswordForm">

      {% embed 'HelloDogBundle:Layout:alert.html.twig' %}
        {% block alert %}
          {{ parent() }}
        {% endblock %}
      {% endembed %}
      
      <h3 class="page-header"><i class="glyphicon glyphicon-lock"></i>&nbsp;Contraseña</h3>
      
      <form name="userForm" ng-submit="submitForm()" novalidate>

        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
          <label>Contraseña Actual</label>
          <input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Contraseña" required>
          <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Enter a valid password.</p>
        </div>

        <a href="{{ path('profile_secured_resend') }}"><small>¿Olvidaste tu contraseña?</small></a>
        <hr>

        {# PASSWORD NEW #}
        <div class="form-group" ng-class="{ 'has-error' : userForm.newPassword.$invalid && !userForm.newPassword.$pristine }">
          <label>Contraseña</label>
          <input type="password" class="form-control" name="newPassword" ng-model="user.newPassword" placeholder="Contraseña" required>
          <p ng-show="userForm.newPassword.$invalid && !userForm.newPassword.$pristine" class="help-block">Enter a valid password.</p>
        </div>

        {# PASSWORD CONFIRM #}
        <div class="form-group" ng-class="{ 'has-error' : userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine }">
          <input type="password" class="form-control" name="confirmPassword" ng-model="user.confirmPassword" repeat-password="newPassword" placeholder="Confirmar Contraseña" required>
          <p ng-show="userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine" class="help-block">Enter a valid password.</p>
        </div>

        <div class="modal-footer">
          <a href="{{ path('shop_buy') }}" type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Volver</a>
          
          <button type="submit" class="btn btn-dark" ng-disabled="userForm.$invalid"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Guardar</button>
        </div>
	    </form>

  	</div>

{% endblock %}