{% extends "::base.html.twig" %}

{% block title "Contraseña" %}

{% block body %}
    {% embed 'HelloDogBundle:Layout:navbar.html.twig' %}
      {% block navbar %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}

    
    <div class="container">

      {% embed 'HelloDogBundle:Layout:alert.html.twig' %}
        {% block alert %}
          {{ parent() }}
        {% endblock %}
      {% endembed %}
      
      <h3 class="page-header"><i class="glyphicon glyphicon-lock"></i>&nbsp;Contraseña</h3>
      <form action="{{ path('edit_password') }}" method="POST">

        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña Actual</label>
          <input type="password" class="form-control" name="password">
        </div>

        <a href="{{ path('profile_secured_resend') }}"><small>¿Olvidaste tu contraseña?</small></a>
        <hr>

        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" name="password_new" placeholder="Contraseña">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirmar Contraseña">
        </div>

        <div class="modal-footer">
          <a href="{{ path('demo_profile') }}" type="button" class="btn btn-dark"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Volver</a>
          
          <button type="submit" class="btn btn-dark"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Guardar</button>
        </div>
	    </form>
  	</div>

{% endblock %}